---
layout: default
---
<div class="wrapper">
	<header>
		<div>
			<img alt="Hack && Tell" src="/images/logo.svg">
			<p>Singapore</p>
		</div>
	</header>

	<section>
		<div>
			<h1>Submit a Talk</h1>
			<p>Fill in our CFP form <a href="{{ site.cfp-url }}">here</a></p>
		</div>
	</section>

	<section>
		<div>
			<h1>Next Meetup</h1>
			{% if site.next-meetup.enabled %}
				<p>
					{{ site.next-meetup.title}}
				</p>
				<p>{{ site.next-meetup.date }}</p>
				<p>
					<a href="{{ site.next-meetup.url }}">RSVP</a>
				</p>
			{% else %}
				<p>To be announced</p>

				<p>
					<a href="{{ site.meetup-url }}">Join us on Meetup</a>
				</p>
			{% endif %}
			<p>
				<a href="{{ site.cfp-url }}">Submit a talk</a>
			</p>
		</div>
	</section>

	<section>
		<div>
			<h1>Past Meetups</h1>
			<ol>
				{% for meetup in site.posts %}
					<li>
						<a href="{{ meetup.url }}">{{ meetup.title }}</a>
					</li>
				{% endfor %}
			</ol>
		</div>
	</section>

	<footer>
		<div>
			<h1>Brought to you by</h1>
			<p>
				<a href="https://twitter.com/vsagar2109">Vaibhav</a>,
				<a href="https://twitter.com/piratefsh">Sher Minn</a>, and
				<a href="https://twitter.com/spinningarrow_">Sahil</a>
			</p>
			<p><a href="mailto:singapore@hackandtell.org">Email us</a></p>
			<p><a href="http://hackandtell.org/">hackandtell.org</a></p>
		</div>
	</footer>
</div>
